<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Monster Search</title>

    <% if (locals.data) { %>
      <% if (data.image) { %>
        <style type="text/css">
          .monster-result {
            background-image: url("https://dnd5eapi.co<%=data.image%>");
            height: 100%;
            background-size: cover;
          }
        </style>
      <% } else { %>
        <style type="text/css">
          .monster-result {
            background-image: url("images/dnd-art.jpg");
            height: 100%;
            background-size: cover;
          }
      
        </style>
      <% } %>
    <% } %>
  </head>
  <body>
    
    <% if (locals.data) { %>
      <div class="container">
        <div id="monsterResult" class="monster-result">
            <!-- <img src="https://dnd5eapi.co<%=data.image%>" alt=""> -->
            <h2><%= data.name %></h2>

            <% if (!data.desc) { %>
              <p> Description not available</p>
            <% } else { %>
            <p><strong>Description:</strong><%= data.desc %></p>
            <% } %>

            <h3 class="list-heading">Characteristics: </h3>
            <ul>
              <li>Type: <%= data.type %></li>
              <li>Subtype: <%= data.subtype %></li>
              <li>Size: <%= data.size %></li>
              <li>Typical Alignment: <%= data.alignment %></li>
              <li>Languages: <%= data.languages %></li>
            </ul>

            <div class="container" id="monster-stats">
              <div id="attr">Strength: <%= data.strength %></div>
              <div id="attr">Dexterity: <%= data.dexterity %></div>
              <div id="attr">Constitution: <%= data.constitution %></div>
              <div id="attr">Intelligence: <%= data.intelligence %></div>
              <div id="attr">Wisdom: <%= data.wisdom %></div>
              <div id="attr">Charisma: <%= data.charisma %></div>
            </div>

            <h3 class="list-heading">Actions: </h3>
            <ul>
            <% data.actions.forEach(action => { %>
              <li><%= action.name + ": " + action.desc %></li>
            <% }) %>
            </ul>

            <h3 class="list-heading">Special Abilities: </h3>
            <ul>
            <% data.special_abilities.forEach(ability => { %>
              <li><%= ability.name + ": " + ability.desc %></li>
            <% }) %>
            </ul>
        </div>
      </div>
    <% } else { %>
      <div class="container">
        <h1>Monster Search</h1>
        <form action="/monster-search" method="POST" class="buttons">
            <input type="text" id="monsterInput" name="monsterInput" placeholder="Enter a monster name" />
            <button type="submit" id="searchButton">Search</button>
        </form>  
      </div>
    <% } %>
    
    <script src="index.js"></script>
  </body>
</html>